<section class:list={['py-16 md:py-20']}>
  <div class="mx-auto max-w-screen-xl">
    <div class="md:gap-16"></div>
      <div class="self-center text-lg p-8">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Use a DE in any distro</h3>
        <br>
        You can even install <b>GNOME</b> or <b>MATE</b> on any distro of your choice (Ubuntu, Fedora or Arch), and use the distro as a separate standalone session. Just run:
        <br><br>
        <code style="font-size: 0.7em;"><b>$ blend install-de gnome </b><i># replace gnome with mate to install MATE, and add <b>--distro [NAME]</b> to specify a distro; default: fedora-rawhide</i></code>
      </div>
    </div>
  </div>
</section>