---
import { Icon } from 'astro-icon';
---

<section id="promo">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
								Unity: The Desktop for All (Even the Clueless)
							</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								Whether you're a computer novice or a nerd who eats, sleeps, and breathes code, Unity's for you. (And if you're not sure which category you fall into, just give Unity a try and see for yourself!)
							</p>

							<div class="w-full">
								<a
									class="btn btn-primary mb-4 sm:mb-0"
									href="#distros"
									rel="noopener"
								>
									<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Try Unity
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Customization</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Unity7 allows users to customize the look and feel of their desktop environment, including the layout of icons and the appearance of windows.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Productivity</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Unity7 includes a range of features and tools that can help users be more productive, such as the ability to search for files and applications quickly, and the ability to easily switch between open windows.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Keyboard-Friendly Features</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Unity7 includes shortcuts and features that make it easy to use with a keyboard.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
