---
import { Icon } from 'astro-icon';
---

<section class="bg-primary-100 dark:bg-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
		<span class="font-bold"> <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Note:</span> blendOS is based on Arch Linux, but you can use any app from any of the distros supported by blendOS, or even install a desktop environment from any of the distros and use the distros in standalone sessions.
	</div>
</section>
